.venv
.pytest_cache
build
dist
__pycache__
*.egg-info
*.egg
*.spec
*.log
*.db
*.sqlite
*.db-journal
*.log
*.pot
*.mo
*.pyc
*.pyo
*.whl
*.tar.gz
*.zip
*.rar
.DS_Store
.env
.eggs
local_settings.py
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.egg-info/PKG-INFO
*.egg-info/SOURCES.txt
*.egg-info/dependency_links.txt
*.egg-info/requires.txt
*.egg-info/top_level.txt
*.egg-info/entry_points.txt
app.py
mdtoword.egg-info